* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./media/green.jpg);
  width: 100vw;
}

.section1 {
  /* background: linear-gradient(black, darkblue); */
  text-align: center;
  height: 45vh;
  width: 100vw;
}
.one {
  color: aliceblue;
  margin-top: 60px;
}
.one h1 {
    color: aliceblue;
    font-size: 50px;
  }
  .one {
    color: #f0f8ff;
    font-size: 26px;
  }
  #title{
      text-decoration: none;
      color: green;

  }
  .post{
    background-image: url(./media/tree.jpg);
    width: 100vw;
    
  }
  .mine{
    
    width: 80vw;
    height: 50vh;
  }
  .form1{
    margin-left: 70px;
  }
  .mn{
    color: aliceblue;
  }
  .ab{
    display: flex;
    justify-content: space-evenly;
  }
  .form2{
    color: aliceblue;
    margin-left: 100px;
  }
  .dc{
    width: 60vw;

  }
  .ef{
    color: aliceblue;
  }




/* .card {
    width: 80vw;
} */
